<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>{{ .title }}</title>
</head>

<body>
<h2>{{ .head }}</h2>
<h3>提交社团信息</h3><br/>
<form action="/auth/submit" method="POST">
    用户名:{{ .account }}<br/>
    社团名字:<input type="text" name="clubname"><br/>
    qq群:<input type="text" name="membergroup"><br/>
    
    自我介绍:<br/>
    <textarea rows="10" cols="25" name="clubinfo"></textarea><br/>
    <input type="submit" value="提交">
    <br/>
    <br/>

</form>
</body>
</html>